version: '3.8'

services:
  redis:
    image: ghcr.io/alphagov/verify/redis:6.0.9
    volumes:
      - redis-data:/data
      - redis-config:/usr/local/etc/redis/
    command: /bin/sh -c 'redis-server'
    ports:
      - ${REDIS_PORT}:6379
    networks:
      - hub-network
  
  stub-idp-db:
    image: ghcr.io/alphagov/verify/postgres:6.0.9
    environment:
      POSTGRES_PASSWORD: docker
    volumes:
      - database-data:/var/lib/postgresql/data/
    networks:
      - hub-network
  
  metadata:
    image: ghcr.io/alphagov/verify/nginx:latest
    ports:
      - "${METADATA_EXTERNAL_PORT}:80"
    volumes:
      - ./data/metadata:/usr/share/nginx/html:ro
    networks:
      - hub-network

  config:
    image: ${CONFIG_IMAGE}
    env_file:
      - config/urls.env
    environment:
      APP_NAME: config
      CONFIG_PORT: ${CONFIG_PORT}
    volumes:
      - ./data:/data:ro
    networks:
      - hub-network

  policy:
    image: ${POLICY_IMAGE}
    env_file:
      - config/urls.env
    environment:
      APP_NAME: policy
      POLICY_PORT: ${POLICY_PORT}
      EVENT_EMITTER_ENABLED: "false"
      EVENT_EMITTER_API_GATEWAY_URL: "http://not-used"
      REDIS_URI: ${REDIS_URI}
      REDIS_PASSWORD: "redis_password"
      CONFIG_HOST: ${CONFIG_HOST}
      CONFIG_PORT: ${CONFIG_PORT}
      EVENT_SINK_PORT: ${EVENT_SINK_PORT}
      EVENT_SINK_HOST: ${EVENT_SINK_HOST}
      SAML_ENGINE_HOST: ${SAML_ENGINE_HOST}
      SAML_ENGINE_PORT: ${SAML_ENGINE_PORT}
      SAML_SOAP_PROXY_HOST: ${SAML_SOAP_PROXY_HOST}
      SAML_SOAP_PROXY_PORT: ${SAML_SOAP_PROXY_PORT}
    volumes:
      - ./data:/data:ro
    depends_on:
      - redis
    networks:
      - hub-network

  saml-engine:
    image: ${SAML_ENGINE_IMAGE} 
    env_file:
      - config/urls.env
    environment:
      APP_NAME: saml-engine
      REDIS_URI: ${REDIS_URI}
      REDIS_PASSWORD: "redis_password"
      SAML_ENGINE_PORT: ${SAML_ENGINE_PORT}
      METADATA_ENTITY_ID: ${METADATA_ENTITY_ID}
      FRONTEND_URL: ${FRONTEND_URL}
      CONFIG_URL: ${CONFIG_URL}
      METADATA_URL: ${METADATA_URL}
      EIDAS_ENABLED: ${EUROPEAN_IDENTITY_ENABLED}
      HUB_CONNECTOR_ENTITY_ID: ${HUB_CONNECTOR_ENTITY_ID}
      TRUST_ANCHOR_URL: ${TRUST_ANCHOR_URI}
      METADATA_SOURCE_URI: ${METADATA_SOURCE_URI}
    volumes:
      - ./data:/data:ro
    depends_on:
      - redis
      - metadata
    networks:
      - hub-network

  saml-proxy:
    image: ${SAML_PROXY_IMAGE}
    env_file:
      - config/urls.env
    environment:
      APP_NAME: saml-proxy
      SAML_PROXY_PORT: ${SAML_PROXY_PORT}
      FRONTEND_PORT: ${FRONTEND_PORT}
      FRONTEND_URL: ${FRONTEND_URL}
      CONFIG_HOST: ${CONFIG_HOST}
      CONFIG_PORT: ${CONFIG_PORT}
      EVENT_SINK_HOST: ${EVENT_SINK_HOST}
      EVENT_SINK_PORT: ${EVENT_SINK_PORT}
      POLICY_HOST: ${POLICY_HOST}
      POLICY_PORT: ${POLICY_PORT}
      METADATA_HOST: ${METADATA_HOST}
      METADATA_PORT: ${METADATA_PORT}
      EIDAS_ENABLED: ${EUROPEAN_IDENTITY_ENABLED}
      TRUST_ANCHOR_URI: ${TRUST_ANCHOR_URI}
      METADATA_SOURCE_URI: ${METADATA_SOURCE_URI}
      EVENT_EMITTER_ENABLED: "false"
      EVENT_EMITTER_API_GATEWAY_URL: "http://not-used"
    volumes:
      - ./data:/data:ro
    networks:
      - hub-network

  saml-soap-proxy:
    image: ${SAML_SOAP_PROXY_IMAGE}
    env_file:
      - config/urls.env
    environment:
      APP_NAME: saml-soap-proxy
      SAML_SOAP_PROXY_PORT: ${SAML_SOAP_PROXY_PORT}
      SAML_ENGINE_HOST: ${SAML_ENGINE_HOST}
      SAML_ENGINE_PORT: ${SAML_ENGINE_PORT}
      CONFIG_HOST: ${CONFIG_HOST}
      CONFIG_PORT: ${CONFIG_PORT}
      EVENT_SINK_HOST: ${EVENT_SINK_HOST}
      EVENT_SINK_PORT: ${EVENT_SINK_PORT}
      POLICY_HOST: ${POLICY_HOST}
      POLICY_PORT: ${POLICY_PORT}
      EVENT_EMITTER_ENABLED: "false"
      EVENT_EMITTER_API_GATEWAY_URL: "http://not-used"
    volumes:
      - ./data:/data:ro
    networks:
      - hub-network

  stub-event-sink:
    image: ${STUB_EVENT_SINK_IMAGE}
    environment:
      APP_NAME: stub-event-sink
      EVENT_SINK_PORT: ${EVENT_SINK_PORT}
    volumes:
      - ./data:/data:ro
    networks:
      - hub-network

  frontend:
    image: ${FRONTEND_IMAGE}
    ports:
      - "${FRONTEND_PORT}:80"
    env_file:
      - configuration/frontend.env
    environment:
      CONFIG_API_HOST: ${CONFIG_URL}
      POLICY_HOST: ${POLICY_URL}
      SAML_PROXY_HOST: ${SAML_PROXY_URL}
      SENTRY_ENV: "LOCAL_DEV"
    volumes:
      - ./configuration/stub-frontend-fed-config:/fed-config:ro
    networks:
      - hub-network

  stub-idp:
    image: ${STUB_IDP_IMAGE}
    ports:
      - "${STUB_IDP_PORT}:${STUB_IDP_PORT}"
    volumes:
      - ./data:/app/data:ro
      - ../verify-stub-idp/build/resources/main/assets:/assets:ro
      - ./configuration/idps:/idps:ro
    env_file:
      - config/urls.env
      - stub-idp.env
    environment:
      PORT: ${STUB_IDP_PORT}
      LOG_PATH: /app/logs
      GRAPHITE_REPORTING_FREQUENCY: 24h
      STUB_IDP_BASIC_AUTH: "false"
      STUB_IDPS_FILE_PATH: /idps/stub-idps.yml
      ENTITY_ID: http://%s.local/SSO/POST
      STUB_IDP_ASSET_LOCATION: /assets
      STUB_IDP_YAML_FILE_LOCATION: /idps/stub-idps.yml
      DB_URI: ${DB_URI}
    depends_on: 
      - stub-idp-db
      - metadata
    networks:
      - hub-network

  msa:
    image: ${MSA_IMAGE}
    volumes:
      - ./data:/data:ro
    env_file:
      - config/urls.env
    environment:
      EUROPEAN_IDENTITY_ENABLED: ${EUROPEAN_IDENTITY_ENABLED}
      TRUST_ANCHOR_URI: ${TRUST_ANCHOR_URI}
      METADATA_SOURCE_URI: ${METADATA_SOURCE_URI}
      ASSERTION_CONSUMER_SERVICE_URL: ${TEST_RP_URL}/matching-service/POST
      MSA_ENTITY_ID: http://dev-rp-ms.local/SAML2/MD
      LMS_MATCH_URL: http://test-rp/test-rp/matching-service/POST
      LMS_UAC_URL: http://test-rp/test-rp/unknown-user/POST
      HUB_SSO_URL: http://localhost:${FRONTEND_PORT}/SAML2/SSO
    networks:
      - hub-network

  test-rp:
    image: ${TEST_RP_IMAGE}
    ports:
      - "${TEST_RP_PORT}:80"
    volumes:
      - ../verify-test-rp/build/resources/main/assets:/assets:ro
    env_file:
      - config/urls.env
      - test-rp.env
    environment:
      TEST_RP_ASSETS_LOCATION: /assets
      TEST_RP_PORT: 80
      LOG_PATH: /app/logs
      TEST_RP_PRIVATE_BETA_USER_ACCESS_RESTRICTION_ENABLED: "false"
      TEST_RP_ENTITY_ID: http://dev-rp.local/SAML2/MD
      MSA_ENTITY_ID: http://dev-rp-ms.local/SAML2/MD
      MSA_METADATA_URL: ${MSA_URL}/matching-service/SAML2/metadata
    depends_on:
      - msa
    networks:
      - hub-network

volumes:
  redis-data:
  redis-config:
  database-data:

networks:
  hub-network: